body {
      font-family: "Helvetica Neue";
}

.tweet {
      margin: auto;
      padding: 20px;

      margin-bottom: 20px;

      border-style: solid;
      border-radius: 5px;
      width: 50%;
}

.tweet-text {
      font-weight: bold;
      font-size: 32px;
}

.tweet-info {
      padding: 10px;
      font-weight: 500;
      font-size: 20px;
}

/* Images */
.tweet > img {

      display: inline-block;
      margin: 0 auto;

      border-radius: 10px;
      width: 40%;
}
